<div class='card'>
  <div class='card-body'>
    <div id='comment-text'>{{text}}</div>
    <button
      type='submit'
      class='btn btn-danger text-white my-2'
      data-id={{id}}
      id='delete-comment'
    >delete comment</button>
  </div>
</div>