<div class="card mb-3">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-1">
      <p>{{format_date created_at}}</p>
    </blockquote>
  </div>
</div>