<div class='card mb-3 mx-2'>
  <a href='/dashboard/edit/{{id}}' class='card-header'>
    {{title}}
  </a>
  <div class='card-body'>
    <blockquote class='blockquote mb-1'>
      <p>{{format_date createdAt}}</p>
    </blockquote>
    <button class='btn btn-primary' id='view-comments'>View Comments</button>
  </div>
</div>