<div class="card mb-3">
  <div class="card-body">
    <blockquote class="blockquote mb-1">
      <p>{{text}}</p>
      <footer class="blockquote-footer">{{user.username}}</footer>
    </blockquote>
  </div>
</div>