<div class="card mb-3">
  <div class="card-header">
    {{post.title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-1">
      <p>{{post.text}}</p>
      <footer class="blockquote-footer">Someone famous in
        <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>