<div class="card mb-3">
  <div class="card-header">
    {{post.title}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-1">
      <p>{{post.text}}</p>
      <footer class="blockquote-footer">{{post.user.username}}</footer>
    </blockquote>
  </div>
</div>

<form class="add-comment">
  <div class="form-group">
    <label for="add-comment">Add Comment</label>
    <textarea class="form-control" id="add-comment" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="submit-comment">Add Comment</button>
</form>

{{#each comment as |comment|}}
{{>loadComments}}
{{/each}}

<script src="/js/comment.js"></script>