<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="username-login">Username</label>
        <input
          type="text"
          class="form-control"
          id="username-login"
          aria-describedby="usernameHelp"
          placeholder="Enter Username"
        />
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input
          type="password"
          class="form-control"
          id="password-login"
          placeholder="Password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        id="loginBtn"
      >Submit</button>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Username</label>
        <input
          type="text"
          class="form-control"
          id="username-signup"
          aria-describedby="usernameHelp"
          placeholder="Enter Username"
        />
      </div>
      <div class="form-group">
        <label for="password-signup">Password</label>
        <input
          type="password"
          class="form-control"
          id="password-signup"
          placeholder="Password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        id="signupBtn"
      >Submit</button>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>